
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
    color: black;
}
 .body{
     height: auto;
 }

 .App{
    margin: 1.5rem;
 }

 .Content{
    display: flex;
    justify-content: center;
 }
button{
    background-color: #2c8035;
    color: white;
    border: none;
}
button:hover {
    background-color:#63c264;
}